@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/montserratRegular.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/playfairDisplay.woff2") format("woff2");
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button-active-effect {
  @apply transition duration-100 ease-in-out transform active:scale-95;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}